:root {
  --header-height: 3.5rem;
  
  /*========== COLORES ==========*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --color-nav: #ffffff;
  /*========== FUENTES Y TIPOGRAFIA ==========*/
  
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
  
  /*========== TAMAÑOS DE FUENTES ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  
  /*========== Z-INDEX ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  }
  
  
  * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  }
  
  /*=============== CLASES REUTILIZABLES ===============*/
  .container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  }
  ul {
      list-style: none;
  }
      
  a {
      text-decoration: none;
  }
  
  /*=============== HEADER ===============*/

  header {
    z-index: 99999;
    position: relative;
  }
  header #logo {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }
  header nav {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    width: 700px;
    margin: 0 auto;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 200px;
    z-index: 9;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: 1s all ;
  }
  header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 10px 25px;
    line-height: 1;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  }
  header nav a:hover{
    color: #000000;
  }
  header nav button {
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 99;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    transform: scale(0);
  }
  header nav button span {
    width: 40%;
    background: #fff;
    height: 2px;
    display: block;
    margin: 5px auto;
    transform: scalex(0);
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
  }
  header nav button:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  header nav button:hover span {
    margin: 10px auto;
  }
  
  header.sticky #logo {
    top: 0;
    transform: scale(0.8);
    opacity: 0;
    transition-delay: 0.5s;
  }
  header.sticky nav {
    top: 20px;
    padding: 0;
    width: 90px;
    height: 90px;
    transition-delay: 0.5s;
  }
  header.sticky nav button {
    transform: scale(1);
    transition-delay: 0.6s;
  }
  header.sticky nav button span {
    transform: scalex(1);
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s, 0.3s margin ease-in 0s;
  }
  header.sticky nav a {
    padding: 0;
    opacity: 0;
    letter-spacing: 0px;
    transform: scale(0.3);
    transition-delay: 0.2s;
  }

  @media (max-width: 665px){
    header nav{
      margin-top: 20px;
      width: 95%;
      height: 100px;
    }
    header nav a{
      font-size: 15px;
      padding: 10px 10px
    };

   
  }
     
  
  

/*======================= IMAGEN EMPRESA ==========================*/

.img_index{
  width: 100%;
  height: 100vh;
  background: url(../img/Fondo-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.img_index img{
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
0% {
  opacity: 0;
  transform: translateY(-50px);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}

/*======================= SECCION DE LOS NEGOCIOS ==========================*/

.envoltura-negocios {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.contenedor{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}



.card{
  position: relative;
  width: 20%;
  height: 30rem;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03,0.99 );
  background-color: #888888 ;
  transition: width .8s cubic-bezier(0.25, 1, 0.5, 1);
}

.card > .row{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .titulo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
  overflow: hidden;
  height: 80px;
  width: 500px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .3s ease, transform .3s ease;
  transition: all .3s ease;
}

.card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%; 
  opacity: 0; 
  transition: opacity .8s cubic-bezier(0.25, 1, 0.5, 1), transform .8s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;  
  transform: translateY(100%);
}


.card:hover::before {
  opacity: 1;
  transform: translateY(0);
  position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #000000 0%, #ffffff00 100%);
      color: white;
      font-size: 30px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}


.card:hover {
  width: 800px;
  transition: width .8s cubic-bezier(0.25, 1, 0.5, 1); 
}

.card:hover .titulo {
  opacity: 1;
  transform: translateY(0); 
}


.card .titulo {
  opacity: 0;
  transform: translateY(30px);
  transition: all .3s ease;
  z-index: 2;
}


.card1{
  position: relative;
  width: 20%;
  height: 30rem;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03,0.99 );
  background-color: #888888 ;
  transition: width .8s cubic-bezier(0.25, 1, 0.5, 1);
}

.card1 > .row{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card1> .row > .titulo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
  overflow: hidden;
  height: 80px;
  width: 500px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .3s ease, transform .3s ease;
  transition: all .3s ease;
}

.card1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%; 
  opacity: 0; 
  transition: opacity .8s cubic-bezier(0.25, 1, 0.5, 1), transform .8s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;  
  transform: translateY(100%);
}


.card1:hover::before {
  opacity: 1;
  transform: translateY(0);
  position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #9BA697 0%, #ffffff00 100%);
      color: white;
      font-size: 30px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}


.card1:hover {
  width: 800px;
  transition: width .8s cubic-bezier(0.25, 1, 0.5, 1); 
}

.card1:hover .titulo {
  opacity: 1;
  transform: translateY(0); 
}


.card1 .titulo {
  opacity: 0;
  transform: translateY(30px);
  transition: all .3s ease;
  z-index: 2;
}

input{
  display: none;
}

.card[for="c1"]{
  background: url(../img/Tattoo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.card[for="c2"]{
  background: url(../img/Barberia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card1[for="c3"]{
  background: url(../img/pigmentacion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card:nth-child(odd) {
  transform: translateY(-20px);
}
.card:nth-child(even) {
  transform: translateY(20px);
}

@media (max-width: 768px) {

  .card {
      width: 100%;
      height: 300px; 
      margin: 10px 0;
      transition: none;
      background-color: black;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat; 
  }

  .card1 {
      width: 100%;
      height: 300px; 
      margin: 10px 0;
      transition: none;
      background-size: contain;
      background-position: center; 
      background-repeat: no-repeat; 
  }

  .contenedor {
      flex-direction: column;
      align-items: stretch;
      padding: 0px 20px;
  }

  .card:hover,
  .card1:hover {
      width: 100%;
  }

  .row,
  .titulo h1 {
    position: relative;
      font-size: 20px;
      z-index: 2;
  }

  .card .card .overlay{
    opacity: 0;
  }

  .card:nth-child(odd) {
    transform: translateY(0px);
  }
  .card:nth-child(even) {
    transform: translateY(0px);
  }
  .card::before {
      opacity: 1;
      transform: translateY(0);
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #000000 0%, #ffffff00 100%);
      color: white;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card1::before {
    opacity: 1;
    transform: translateY(0);
    position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #9BA697 0%, #ffffff00 100%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
  }

  .card:hover, .card1:hover {
      width: 100%; /* No cambiar tamaño al hacer hover en móviles */
  }

  .card:nth-child(odd), .card:nth-child(even) {
      transform: translateY(0px); /* Sin efecto de desplazamiento en móviles */
  }
  
}

@media (max-width: 460px){
  .img_index img{
      width: 350px;
      height: 350px;
  }
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  border-top: 1px solid #888888;
  color: #000000; 
  padding: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.footer img {
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.footer img:hover {
  transform: scale(1.1); 
}

.footer p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.footer-divider {
  margin-top: 20px;
  text-align: center;
}

.footer-divider hr {
  width: 50px; /* Línea pequeña */
  border: 1px solid #888888; /* Color de la línea */
  margin: 10px auto;
  opacity: 0.7;
}

.footer-divider p {
  margin: 5px 0;
  font-size: 0.8rem;
  font-style: italic;
  color: #000000;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer {
      padding: 15px;
  }

  .footer img {
      width: 80px;
      height: 80px;
  }

  .footer p, 
  .footer-divider p {
      font-size: 0.8rem;
  }

  .footer-divider hr {
      width: 40px;
  }
}