:root {
    --header-height: 3.5rem;
    
    /*========== COLORES ==========*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --color-nav: #ffffff;
    /*========== FUENTES Y TIPOGRAFIA ==========*/
    
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
    
    /*========== TAMAÑOS DE FUENTES ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    
    /*========== Z-INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    }
    
    
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
    body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: #000000;
    padding-top: var(--header-height);
    }
    
    /*=============== CLASES REUTILIZABLES ===============*/
    .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
    }
    ul {
        list-style: none;
    }
        
    a {
        text-decoration: none;
    }
    
    /*=============== HEADER ===============*/
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: black;
        height: 80px; 
        box-shadow: 0 2px 16px hsla(220, 6%, 59%, 0.3);
        z-index: 2;
    }
    
    /*=============== NAV ===============*/
    .nav {
    height: var(--header-height);
    }
    
    .nav__logo, 
    .nav__burger, 
    .nav__close {
    color: #ffffff;
    }
    
    .nav__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    }
    
    .nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
    }
    
    .nav_alterna {
    position: relative;
    width: 32px;
    height: 32px;
    }
    
    .nav__burger, 
    .nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
    }
    
    .nav__close {
    opacity: 0;
    }
    
    /* NAVEGACION PARA DISPOSITIVOS MOBILES */
    
    @media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar {
        width: 0;
    }
    .nav__list {
        background-color: #000000;
        padding-top: 1rem;
    }
    }
    
    .nav__link {
        color: #ffff;
        font-weight: var(--font-semi-bold);
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .3s;
    }
    
    .nav__link:hover {
        color: #888888;
    }
    
    /* MOSTRAR MENU ( PANTALLAS PEQUEÑAS ) */
    .show-menu {
        opacity: 1;
        top: 3.5rem;
        pointer-events: initial;
    }
    
    /* ICONO HAMBURGUESA */
    .show-icon .nav__burger {
        opacity: 0;
        transform: rotate(90deg);
        }
        .show-icon .nav__close {
        opacity: 1;
        transform: rotate(90deg);
    }
    
    /*=============== MENU DESPLEGABLE ===============*/
    
    .menu_desplegable__item {
    cursor: pointer;
    }
    
    .menu_desplegable__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
    }
    
    .menu_desplegable__link{
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: #797979;
    background-color: #111111;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
    border-radius: 15px 15px 15px 15px;
    }
    
    .menu_desplegable__link i, 
    .menu_desplegable__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
    }
    
    .menu_desplegable__link:hover{
    background-color: #dedddd;
    }
    
    .menu_desplegable__menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    border: 1px solid #434343;
    border-radius: 15px;
    background: #111111;
    
    }
    
    /* MUESTRA EL MENU DESPLEGABLE DE HOME */
    .menu_desplegable__item:hover .menu_desplegable__menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
    }
    
    /* ROTA LA FLECHA*/
    
    .menu_desplegable__item:hover .menu_desplegable__arrow {
    transform: rotate(180deg);
    }
    
    
    /*=============== MEDIA QUERIES ===============*/
    
    /* PARA PANTALLAS PEQUEÑAS */
    @media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }
    
    .nav__link {
        padding-inline: 1rem;
    }
    }
    
    /* PARA PANTALLAS GRANDES ( PC )*/
    @media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }
    
    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }
    .nav_alterna {
        display: none;
    }
    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }
    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }
    .nav__link:hover {
        background-color: transparent;
    }
    
    .menu_desplegable__item, 
    .menu_desplegable__subitem {
        position: relative;
    }
    
    .menu_desplegable__menu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }
    
    .menu_desplegable__link, 
    .menu_desplegable__sublink {
        padding-inline: 1rem 3.5rem;
    }
    
    .menu_desplegable__subitem .menu_desplegable__link {
        padding-inline: 1rem;
    }
    
    .menu_desplegable__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
    }
    
    /* MOSTRAR MENU DESPLEGABLE*/
    .menu_desplegable__item:hover .menu_desplegable__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }
    
    }

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero h1{   
    padding: 50px;
    color: white;
    font-weight: bold;
    font-family: "Inknut Antiqua", serif;
    text-align: center;
}

.hero p{
    padding: 50px;
    color: #797979;
    font-size: 25px;
}

.hero .icono{
    border-radius: 50%;
    border: 1px solid #888888;
    transition: .3s  ease;
}

.hero i{
    color: rgb(254, 254, 254);
    font-size: 50px;
    border-radius: 50%;
    border-color: #7c786d;
}

.hero .icono:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

@media (max-width: 768px) {
    .hero h1{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero img {
        width: 90%; /* Imagen más grande en pantallas pequeñas */
    }

    .hero i {
        font-size: 2rem;
    }
}

/* Móviles */
@media (max-width: 480px) {
    .hero h1{
        font-size: 20px;
        text-align: center;
    }
    .hero img {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .hero i {
        font-size: 1.8rem;
    }
}


    /*======================================================== CUIDADOS ========================*/

    /*
    .cuidados-generales {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cuidados-generales .cabecera{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cabecera h1{
        color: white;
        font-family: "Inknut Antiqua", serif;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .cabecera .linea-blanca{
        border: none;
        border-top: 2px solid white; 
        width: 80%; 
        margin: 20px auto; 
    }
    
    .Cuidados-antes {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: stretch;
    }
    
    
    .Cuidados-antes .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .Cuidados-antes .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .card img {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }
    
    .card .info {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    .info h1 {
        margin: 10px 0;
        color: aliceblue;
        font-size: 23px;
        font-weight: bold;
    }
    
    .info p {
        margin-top: 10px;
        color: #7c786d;
        font-size: 14px;
        line-height: 1.5;
    }*/


    .cuidados {
        width: 100%;
        height: auto;
        gap: 20px;
        padding: 100px;
        margin-top: 100px;
    }
    
    .info-cuidados {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto; /* Cambia a auto para que el tamaño se ajuste */
        margin: auto;
    }
    
    .info {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    .info p {
        font-size: 1.3rem;
        color: white;
        font-weight: bold;
    }
    
    .imagen img {
        width: 100%;
        height: auto; 
        margin-top: 0;
    }
    
    .imagen {
        grid-column: 5 / 6;
        grid-row: 1 / 5;
    }
    
    /*============================ LINEA DEL TIEMPO =================*/
    
    .timeline-grid {
        margin-top: 100px;
        grid-column: 1 / 4;
        grid-row: 2 / 5;
    }
    
    /* Estilos compartidos entre ambas líneas */
    .timeline {
        position: relative;
        margin: auto;
    }
    
    .event {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        position: relative;
    }
    
    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: black;
        border: 2px solid #f6f6f6;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
    }
    
    .content {
        padding: 15px;
        border-radius: 6px;
        background-color: #3333333a;
        color: white;
    }
    
    
    /* Línea vertical */
    .timeline::before {
        content: "";
        position: absolute;
        width: 2px;
        background-color: #f6f6f6;
        top: 13px;
        height: 95%;
    }
    
    /* Estilos específicos para la línea izquierda */
    .timeline-left::before {
        left: 20px;
    }
    
    .timeline-left .circle {
        left: 2px;
    }
    
    .timeline-left .content {
        margin-left: 50px;
        text-align: left;
    }
    
    /* Estilos específicos para la línea derecha */
    .timeline-right::before {
        right: 20px;
    }
    
    .timeline-right .circle {
        right: 0px;
    }
    
    .timeline-right .content {
        margin-right: 50px;
        text-align: right;
    }
    
    /* Responsivo */
    @media (max-width: 1200px) {
        .cuidados {
            padding: 20px; /* Menos padding en dispositivos pequeños */
        }
    
        .info-cuidados {
            grid-template-columns: 1fr; /* Una columna en dispositivos pequeños */
            width: 100%;
        }
    
        .timeline-grid {
            grid-template-columns: 1fr; /* Una columna para la línea de tiempo */
        }
    
        .timeline-left,
        .timeline-right {
            width: 100%;
        }
    
        .timeline-left::before,
        .timeline-right::before {
            left: 30px;
        }
    
        .info {
            grid-column: 1; /* Usa toda la columna */
            grid-row: 1; /* En la fila correcta */
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
        }
        .info p{
            font-weight: normal;
            font-size: 1.2rem;
            text-align: center;
        }
        .timeline-grid {
            grid-row: 2 / 3; /* Asegúrate de que se ajuste correctamente */
        }
    
        .imagen {
            grid-row: 3 / 4; /* En la fila correcta */
            grid-column: 1; /* Usa toda la columna en móviles */
            display: flex;
            justify-content: center; /* Centra la imagen */
            align-items: center; /* Centra verticalmente */
        }
    }
    
/*============================= FOOTER ==========================*/

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333536;
    margin-top: 50px;
    padding: 0px 30px;
}


.nombreEmpresa{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.RedesSociales{
    display: flex;
    gap: 20px;
}

.RedesSociales a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.RedesSociales i{
    border: 1px solid #333536;
    border-radius: 50%;
    padding: 7px;
    transition: .3s all ease;
}

.RedesSociales i:hover{
    transform: translateY(-5px);
}

@media (max-width: 665px){
    .info{
        display: grid;
        padding: 0 20px;
    }
}
   
